@import url('https://fonts.googleapis.com/css2?family=Bebeas+Neue&display=swap');

h1 {
    font-family: "Copperplate";
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 100px;
    border: solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 75px;
    box-shadow: 5px 5px 5px black;
}

body {
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1200px 800px;
}

h2 {
    font-family: "Copperplate";
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    box-shadow: 5px 5px 5px black;
}

h3 {
    font-family: "Copperplate";
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 35px;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
}

h4 {
    font-family: "Copperplate";
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}

img {
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
}

.bobtext{
    font-family: "Copperplate";
    background-color: white;
    border: solid;
    text-align: center;
    text-spacing-trim: 10px;
    padding: 10px;
    font-size: 15px;
}


.clientlink {
    font-family: "Copperplate";
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid black;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    margin-left: 400px;
    margin-right: 400px;
    color: white;
}

.solutionlink {
    font-family: "Copperplate";
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid black;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    margin-left: 350px;
    margin-right: 350px;
    color: white;
}

